@import "tailwindcss";

:root {
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-roboto);

  --primary: #B7793E;
  --secondary: #6F4E37;
  --accent: #D4A373;
  
  --background: #F8F5F2;
  --section: #F1EAE3;
  --dark: #2C1810;
  
  --heading-color: #2C1810;
  --body: #5F5F5F;
  --light-text: #7A7A7A;

  --container-width: 1320px;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 20px;

  --transition: all 0.3s ease;
}

/* BODY CLASSES */
body {
  background: var(--background);
}
html {
  scroll-behavior: smooth;
}

/* COMMON STYLE CLASSES */
.heading {
  font-family: var(--font-montserrat), sans-serif;
}
.body-text {
  font-family: var(--font-roboto), sans-serif;
}

/* MOBILE (default) */
.section-container {
  margin: 64px 24px 0; 
}

/* 📟 TABLET */
@media (min-width: 768px) {
  .section-container {
    margin: 80px 48px 0;
  }
}

/* 💻 DESKTOP */
@media (min-width: 1024px) {
  .section-container {
    margin: 96px 160px 0;
  }
}


/* ANIMATIONS & KEYFRAMES */
.sticky-navbar {
  animation: slideDown .5s ease;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


/* SECTION WITH SHAPES AT TOP OR BOTTOM */
.section-with-top-shape,
.section-with-bottom-shape {
  position: relative;
}

.section-with-top-shape::before,
.section-with-bottom-shape::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 15px;
  z-index: 10;
  background-repeat: repeat-x;
  height: clamp(12px, 1.5vw, 20px);
  background-size: auto 100%;
  pointer-events: none;
}

.section-with-top-shape::before {
  top: -1px;
  background-image: url("/images/overlay-top.png");
}

.section-with-bottom-shape::after {
  bottom: -1px;
  background-image: url("/images/overlay-bottom.png");
}